// .icon-wrapper {
//   width: 46px;
//   height: 46px;
//   min-width: 46px;
//   border-radius: 50%;
//   background: #ffffff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid rgba(0, 0, 0, 0.08);
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
// }

// .icon-wrapper i {
//   font-size: 1.35rem;
// }

/* Optional hover effect */
.list-group-item:hover .icon-wrapper {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.feature-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.icon-wrapper {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 1.25rem;
}
