.avtar-box {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}


/* Outer center alignment */
.notebook-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 15px;
}

/* Notebook page */
.notebook-page {
  width: 100%;
//   max-width: 800px;
  padding: 30px 30px;

  /* lined paper effect */
  background-image: repeating-linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 28px,
    #d6e4f0 29px
  );

  line-height: 30px;
  font-size: 17px;
  color: #222;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  border-radius: 4px;
}

/* Paragraph spacing */
.notebook-page p {
  margin-bottom: 30px;
}

/* Signature */
.signature {
  text-align: right;
  font-weight: 600;
}

.signature span {
  font-weight: normal;
  font-size: 15px;
}