.hero {
  min-height: 500px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  position: relative;
  object-fit: contain;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
//   background: rgba(0, 0, 0, 0.45);
background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  #ffffff 100%
);
  border-radius: inherit;
}

@media (max-width: 767.98px) {
  .hero{
    min-height: 185px;
  }
}