.stat-card {
  border-left: 4px solid #0d6efd;
  border-radius: 12px;
  transition: all 0.25s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

.stat-icon {
  border-radius: 12px;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}