.admission-banner {
    background: linear-gradient(135deg, #e0e7ff, #f8fafc);
    color: #1e3a8a;
    border-radius: 12px;
}

.admission-banner h2 {
    font-size: 1.8rem;
}

.card {
    border-radius: 14px;
}

.list-group-item {
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
}

.contact-box {
    background-color: #f8fafc;
    border-radius: 10px;
}

.scooImg {
    width: 300;
    height: 375px;
    border-radius: 12px;

    img {
        border-radius: 12px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}