.stat-card {
  min-width: 158px;
  background-color: #f0f2f4;
  transition: background-color 0.3s ease;
}
.stat-card:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.05);
}

.stat-img-box{
  width: 100px;
  height: 100px;
  border-radius: 8px;
   img {
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
}