.carousel-img {
    height: 532px;
    max-height: 532px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.what-me {
    position: absolute;
    width: 73%;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .3;
    background: rgba(0, 158, 206, .5019607843137255);
    z-index: -2;
}

.img-box-500 {
    width: 500px;
}

.steps-divider {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: -1;
        border-radius: inherit;
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -100vw;
        right: -100vw;
        height: 1px;
        background: red;
        z-index: -9;
    }
}